@if (cargandoContacto) {
  <p class="loading">Cargando contacto...</p>
} @else if (!contacto) {
  <p class="not-found">No se encontró el contacto</p>
} @else {
  <div class="contact-container">
    <section class="contact-info">
      <h1>{{ contacto.firstName }} {{ contacto.lastName }}</h1>
      
  @if (contacto.isFavourite) {
  <p class="star">⭐ Favorito</p>
}


      <div class="info-row">
        <label>Teléfono:</label>
        <span>{{ contacto.number }}</span>
      </div>

      <div class="info-row">
        <label>Email:</label>
        <span>{{ contacto.email || 'No disponible' }}</span>
      </div>

      <div class="actions">
        <button class="fav" (click)="toggleFavorite()">
          {{ contacto.isFavourite ? 'Desmarcar favorito' : 'Marcar como favorito' }}
        </button>

        <a [routerLink]="['/contacts', idContacto(), 'edit']" class="edit">Editar</a>
        <button (click)="deleteContact()" class="delete">Eliminar</button>
        
    

      </div>
    </section>
  </div>
}
