
<div id="container" class="card">
  @if(idContacto()){
    <h2>Editar contacto</h2>
  } @else {
    <h2>Nuevo contacto</h2>
  }

  <form (ngSubmit)="handleFormSubmission(newContactForm)" #newContactForm="ngForm">
    
    <div>
      <input
        id="first-name"
        name="firstName"
        type="text"
        ngModel
        required
        minlength="2"
        maxlength="20"
        #firstName="ngModel"
        placeholder="Nombre*"
      />
      @if (firstName.dirty && firstName.invalid) {
        <p class="error">El nombre es obligatorio y no puede ser una sola letra</p>
      }
    </div>

    <div>
      <input
        id="last-name"
        name="lastName"
        type="text"
        ngModel
        maxlength="20"
        placeholder="Apellido"
      />
    </div>

    <div>
      <input
        id="phone"
        name="number"
        type="text"
        ngModel
        required
        minlength="3"
        maxlength="30"
        placeholder="Teléfono*"
      />
    </div>

    <div>
      <input
        id="email"
        name="email"
        type="email"
        ngModel
        maxlength="40"
        placeholder="Email"
      />
    </div>

    <div>
      <label for="favourite">Favorito</label>
      <input
        id="favourite"
        name="isFavourite"
        type="checkbox"
        ngModel
      />
    </div>

    <div>
      <input
        id="address"
        name="address"
        type="text"
        ngModel
        minlength="5"
        placeholder="Dirección"
      />
    </div>

    <div>
      <input
        id="company"
        name="company"
        type="text"
        ngModel
        minlength="2"
        placeholder="Compañía"
      />
    </div>

    <div>
      <input
        id="image"
        name="image"
        type="text"
        ngModel
        minlength="10"
        placeholder="URL Imagen"
      />
    </div>

    @if (errorEnBack) {
      <p class="error">Error indeterminado, intente nuevamente.</p>
    }

    @if(idContacto()){
      <button [disabled]="newContactForm.invalid || isLoading">Editar</button>
    } @else {
      <button [disabled]="newContactForm.invalid || isLoading">Crear</button>
    }

    @if(isLoading){
      <app-spinner></app-spinner>
    }
  </form>
</div>