<div id="container" class="card">
  <h1>Registrarse</h1>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    
    <div>
      <input
        id="email"
        name="email"
        type="email"
        ngModel
        #email="ngModel"
        required
        autocomplete="email"
        placeholder="Correo electrónico"
      />
      @if (email.invalid && !email.pristine) {
        <p class="error">Debe colocar un correo electrónico.</p>
      }
    </div>

    <div>
      <input
        id="firstName"
        name="firstName"
        type="text"
        ngModel
        #firstName="ngModel"
        required
        autocomplete="given-name"
        placeholder="Nombre"
      />
      @if (firstName.invalid && !firstName.pristine) {
        <p class="error">Este campo es obligatorio.</p>
      }
    </div>

    <div>
      <input
        id="lastName"
        name="lastName"
        type="text"
        ngModel
        #lastName="ngModel"
        required
        autocomplete="family-name"
        placeholder="Apellido"
      />
      @if (lastName.invalid && !lastName.pristine) {
        <p class="error">Este campo es obligatorio.</p>
      }
    </div>

    <div>
      <input
        id="password"
        name="password"
        type="password"
        ngModel
        #password="ngModel"
        minlength="4"
        autocomplete="new-password"
        placeholder="Contraseña"
      />
      @if (password.invalid && !password.pristine) {
        <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
      }
    </div>

    <div>
      <input
        id="password2"
        name="password2"
        type="password"
        ngModel
        #password2="ngModel"
        minlength="4"
        autocomplete="new-password"
        placeholder="Repite la contraseña"
      />
      @if (password2.invalid && !password2.pristine) {
        <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
      }
    </div>

    <button [disabled]="isLoading || registerForm.invalid">Iniciar sesión</button>

    @if(isLoading){
      <app-spinner></app-spinner>
    }

    @if (errorRegister) {
      <p class="error">Error indeterminado, intente nuevamente.</p>
    }

    <p>
      Ya tenés cuenta?
      <a routerLink="/login">Inicia sesión</a>
    </p>
  </form>
</div>
``